<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
</head>
<body>
    <h2>Product Inventory</h2>
    <table border="1">
        <tr>
            <th>Brand</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
</body>
</html>
